<body>
  <header class="bar bar-nav">
    <a href="/" data-ignore="push" class="icon icon-left-nav pull-left"></a>
    <h1 class="title">New Event</h1>
  </header>
  <div class="content">
    <form class="input-group">
      <input id="event_name" type="text" placeholder="Event Name">
      <ul class="table-view-cell table-view-divider">
        Start Time
      </ul>
      <input id="start_date_entry" type="date" value="<%= DateTime.now.to_time.to_date.to_s %>">
      <input id="start_time_entry" type="time" value="<%= Time.new.strftime('%H:%M') %>">
      <ul class="table-view-cell table-view-divider">
        End Time
      </ul>
      <input id="end_date_entry" type="date" value="<%= DateTime.now.to_time.to_date.to_s %>">
      <input id="end_time_entry" type="time">
      <button id="new_event" class="btn btn-positive btn-block">Create Event</button>
    </form>
  </body>
<script type="text/javascript">

$(document).ready(function() {

$('#new_event').click(function(e) {
  var time = document.getElementById('start_time_entry').value
  var date = document.getElementById('start_date_entry').value
  var time2 = document.getElementById('end_time_entry').value
  var date2 = document.getElementById('end_date_entry').value
  var dateTime = date +  ' ' + time;
  var dateTime2 = date2 +  ' ' + time2;
  var mom = moment(dateTime, "YYYY-MM-DD HH:mm");
  var mom2 = moment(dateTime2, "YYYY-MM-DD HH:mm");
  var now = new moment;
  $.post("/results", { start_time: mom.unix() + '',
                      end_time  : mom2.unix() + '',
                      create_time: now.unix() + '',
                      event_name: document.getElementById('event_name').value
                    },
    function(result) {
      // window.location = '/';
  });
})

})
</script>
