<body>
  <header class="bar bar-nav">
    <a class="icon icon-refresh pull-right"></a>
    <h1 class="title">Whoops.</h1>
  </header>
  <div class="bar bar-footer">
    <a class="icon icon-compose pull-right" href="#composeModal"></a>
    <small class="updated-text">Updated just now</small>
  </div>
</body>