<body>
  <header class="bar bar-nav">
    <form action="/yesterday">
      <button class="btn btn-link btn-nav pull-left">
      <span class="icon icon-left-nav"></span>
      Yesterday
      </button>
    </form>
    <form action="/tomorrow">
      <button class="btn btn-link btn-nav pull-right">
      Tomorrow
      <span class="icon icon-right-nav"></span>
      </button>
    </form>
    <h1 class="title"><%= session[:current_day].strftime('%D') %></h1>
  </header>
  <div class="bar bar-footer">
    <nav class="bar bar-tab">
      <a class="tab-item active" href="/" data-ignore="push">
        <span class="icon icon-home"></span>
        <span class="tab-label">Home</span>
      </a>
      <a class="tab-item" href="/new" data-ignore="push">
        <span class="icon icon-compose"></span>
        <span class="tab-label">Create Event</span>
      </a>
      <a class="tab-item" href="/logout" data-ignore="push">
        <span class="icon icon-person"></span>
        <span class="tab-label">Logout</span>
      </a>
    </nav>
  </div>
  <div class="content">
    <ul class="table-view">

      <% @range.each do | item | %>
      <li class="table-view-cell">
        <a href="/<%= item.id %>" data-ignore="push" class="navigate-right">
          <div class="media-body">
            <p><%= item.end_time.to_time.strftime('%l:%M %p') %> - <%= item.event_name %></p>
          </div>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
</body>
