body {
  width: 375px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(245, 245, 245);
}

.bar-footer {
  bottom: -150px;
}

.bar {
  width: 375px;
  right: auto;
  left: auto;
  padding-right: 0;
  padding-left: 0;
}

.login-splash {
background: -moz-linear-gradient(top,  #222524 0%, #81efe8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #222524 0%,#81efe8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #222524 0%,#00586b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6525ba', endColorstr='#81efe8',GradientType=0 ); /* IE6-9 */

}

.logo {
  height: 150px;
  margin-bottom: 2em;
}

.login-splash input[type=text],
.login-splash input[type=password] {
  height: 3em;
  transition: 0.5s;
  text-align: center;
  background-color: rgba(0,0,0,.1);
  border: 0;
  border-radius: 6px;
  color: white;
}

.login-splash input[type=text]:focus,
.login-splash input[type=password]:focus {
  background-color: rgba(0,0,0,.4);
}
